/temp
/utils/__pycache__
/.idea
# Local environment
/env
# Environment variables 
.env
*.csv
.DS_Store
*.xlsx
slack_summary.txt
report
report.zip
*/__pycache__
__pycache__/*
/summary
global_summary.txt
venv/
